html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    background-color: #f7f5f1;
    overflow-y: scroll;
    
}

.main-container{
    margin-bottom: -200px;
    background-color: #C2E1B9;
    width: 100%;
    height: 100%;
}

.main-container2{
    width: 100%;
    height: 100%;
}

.nav-bar {
    background-color: #C2E1B9;
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 100;
   
}


.hamburger-menu{
    display: block;
    cursor: pointer;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(270deg);


  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
    margin-left: 10px;
  
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 16px;
    background-color: #fff;
    transition-duration: .25s;
  
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;

  }
  .menu__btn > span::after {
    content: '';
    top: 10px;
    
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 238px;
    height: fit-content;
    margin-top: 100px;
    padding: 30px 0px;
    list-style: none;
    background-color: #fff;
    box-shadow: 4px 4px 10px #563b309c;
    transition-duration: .40s;
    border-radius: 0px 16px 16px 0px;
    z-index: 20;

  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #c2e1b9cb;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .35s;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #a69278c0;
  }
  .menu__item:hover {
    background-color:#fff;
    color: #c2e1b9cb;
    text-shadow: none;
    text-decoration: none;

  }

  .menu__item:active {
    background-color: #bfa58397;
    color: #fff;
    text-decoration: none;
  }

.page-container {
    width: 200%;
    height: 600px;
    margin-top: 700px;
  text-align: left;
  margin-left: -15px;
  color: #C2E1B9;
  background-color: #C2E1B9;
  padding-bottom: 30px;
 


}

.page-container2 {
    width: 100%;
    height:700px;
    margin-top: 850px;
    margin-left: -1390px;
  text-align: left;
  color: #C2E1B9;
  overflow-y: scroll;
padding-bottom: 20px;


}

.text{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 30px;
    color: #563b309c;
    
}

.link{
font-size: 30px;
text-decoration: none;
  color: #563b309c;
}

.linktext{
  font-size: large;
    color: #563b309c;
}

.contatti{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
 margin-left: 10px;
}

.contatti-ul{
  color: #563b309c;
  margin-left: 80px;
  line-height: 30px;
}

.link-contact{
  color: #563b309c;
  margin-left: 80px;
  line-height: 30px;
  text-decoration: none;
  margin-left: -5px;
}

.link-contact:hover{
padding: 5px;
border-radius: 16px;
background-color: #bfa5838f;
color: #fff;
}



.formazione-info{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
  margin-top: -50px ;
}

.form-info{
  margin-left: 70px;
  width: 300px;
    z-index: 0;
}

.chisono{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
  margin-top: -40px;
}

.coachpt{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  line-height: 30px;
}

.coachptimg{
  width: 300px;
    z-index: 0;
    margin-left: 60px;
    margin-top: 40px;
}

.hobby{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
  line-height: 30px;
  margin-bottom: 60px;
  margin-top: -40px;
}

.terra{
    width: 300px;
    z-index: 0;
}

.hobbygarden{
  width: 300px;
  z-index: 0;
  margin-right: 40px ;
  margin-left: 20px;
}

.hobbyterra{
  width: 300px;
    z-index: 0;
    margin-left: 40px;
}

.competenze{
  display: flex;
  flex-direction: row;
  color: #563b309c;
  justify-content: left;
  align-items: center;
  line-height: 30px;
}

.competenzeimg{
  width: 300px;
  z-index: 0;
  margin-left: -80px;
  padding-top: 50px;
}

.lingue{
  margin-left: 100px;
  margin-top: -210px;
}


.nomepagina{
  font-size:40px;
  font-weight:bolder;
  color: #C2E1B9;
}


.btn {
    -webkit-tap-highlight-color: var(--color-transparent);
    position: fixed;
    background: #C2E1B9;
    color: #fff;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    padding: 1.5rem 1rem 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 150px 0px 0px 0px;
    cursor: pointer;
  }

  .btn:hover {
    -webkit-tap-highlight-color: var(--color-transparent);
    position: fixed;
    background: #bfa583;
    color: #fff;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    padding: 1.5rem 1rem 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 150px 0px 0px 0px;
    cursor: pointer;
  }


  /* .screenshot{
  width: 900px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-radius: 16px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.366);
} */

  .screenshot{
    width: 640px;
    margin-left: 30px;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.366);
  margin-top: -20px;
  }

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #4480338d;
}

.btn-toggle{
  border: none;
  border-radius: 90px;
  width: 116px;
  display: flex;
  flex-direction: row;
  margin-left: 1280px;
  background-color: transparent;
  padding: 0px;
  
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #4480338d;
  }
  body.light-theme {
    --text-color: #563b309c;
    --bkg-color: ;
  }

}

body {
  background: var(--bkg-color);
}

h1, p, span, .link-contact, .nomepagina, li, .link, .linktext{
  color: var(--text-color);
}

.sun{
  padding: 8px;
  margin-right: 21px;
  -webkit-border-radius: 90px;
border-radius: 90px;
background: #c2e1b9;
-webkit-box-shadow: 12px 12px 18px #a5bf9d, -12px -12px 18px #dfffd5;
box-shadow: 12px 12px 18px #a5bf9d, -12px -12px 18px #dfffd5;
border: solid 2px #c2e1b9;
cursor: pointer;
}

.moon{
  padding: 8px;
  -webkit-border-radius: 90px;
border-radius: 90px;
background: #c2e1b9;
-webkit-box-shadow: 12px 12px 18px #a5bf9d, -12px -12px 18px #dfffd5;
box-shadow: 12px 12px 18px #a5bf9d, -12px -12px 18px #dfffd5;
border: solid 2px #c2e1b9;
cursor: pointer;
}

.sun:hover{
background: linear-gradient(145deg, #afcba7, #d0f1c6);
box-shadow:  12px 12px 30px #a5bf9d,
             -16px -16px 60px #d7e9d2;
 border: solid 2px #c2e1b9;
}

.moon:hover{
  background: linear-gradient(145deg, #afcba7, #d0f1c6);
box-shadow:  12px 12px 30px #a5bf9d,
             -16px -16px 60px #d7e9d2;
             border: solid 2px #c2e1b9;
}

